div(ng-controller="weeksController as vm")
  .margin-top.center
    h2.margin-top 
      a.underline.italic(href="/weeks") Weekly
      | &nbsp;&nbsp;&nbsp;
      a(href="/collections") By Collection
      | &nbsp;&nbsp;&nbsp;
      a(href="/countries") By Country
