.center
  .margin-top-big
    h1.margin-top.bold 
      a.underline(href="/weeks") Weeks
      | &nbsp;&nbsp;
      a(href="/collections") Collections
      | &nbsp;&nbsp;
      a(href="/countries") Countries
