div(ng-controller="weeksController as vm")
  .margin-top.center
    h2.margin-top 
      a.underline.italic(href="/weeks") Weekly
      | &nbsp;&nbsp;&nbsp;
      a(href="/collections") By Collection
      | &nbsp;&nbsp;&nbsp;
      a(href="/countries") By Country

  table.margin-top-big
    tr
      th(ng-click="vm.changeFilter('calendarWeek')", ng-class="{'active': vm.orderFilter=='calendarWeek', 'up': vm.orderFilterDirection}") Week
      th(ng-click="vm.changeFilter('startDate')", ng-class="{'active': vm.orderFilter=='startDate', 'up': vm.orderFilterDirection}") Monday
      th(ng-click="vm.changeFilter('bannerTopClicks')", ng-class="{'active': vm.orderFilter=='bannerTopClicks', 'up': vm.orderFilterDirection}") Top Banner clicks
      th(ng-click="vm.changeFilter('bannerBottomClicks')", ng-class="{'active': vm.orderFilter=='bannerBottomClicks', 'up': vm.orderFilterDirection}") Bottom Banner clicks
      th(ng-click="vm.changeFilter('externalClicks')", ng-class="{'active': vm.orderFilter=='externalClicks', 'up': vm.orderFilterDirection}") External clicks
      th(ng-click="vm.changeFilter('otherNavigationClicks')", ng-class="{'active': vm.orderFilter=='otherNavigationClicks', 'up': vm.orderFilterDirection}") Prev/Next clicks
      th(ng-click="vm.changeFilter('mediaWallClick')", ng-class="{'active': vm.orderFilter=='mediaWallClick', 'up': vm.orderFilterDirection}") MediaWall clicks
      th(ng-click="vm.changeFilter('mediaWallScroll')", ng-class="{'active': vm.orderFilter=='mediaWallScroll', 'up': vm.orderFilterDirection}") MediaWall scroll
      //th(ng-click="vm.changeFilter('comments')", ng-class="{'active': vm.orderFilter=='comments', 'up': vm.orderFilterDirection}") Comments
      //th(ng-click="vm.changeFilter('upvotes')", ng-class="{'active': vm.orderFilter=='upvotes', 'up': vm.orderFilterDirection}") Upvotes
      //th(ng-click="vm.changeFilter('bookmarks')", ng-class="{'active': vm.orderFilter=='bookmarks', 'up': vm.orderFilterDirection}") Bookmarks
      th(ng-click="vm.changeFilter('twitterShares')", ng-class="{'active': vm.orderFilter=='twitterShares', 'up': vm.orderFilterDirection}") Tweets
      th(ng-click="vm.changeFilter('facebookShares')", ng-class="{'active': vm.orderFilter=='facebookShares', 'up': vm.orderFilterDirection}") FB shares
      th(ng-click="vm.changeFilter('linkedinShares')", ng-class="{'active': vm.orderFilter=='linkedinShares', 'up': vm.orderFilterDirection}") Linkedin shares
      //th(ng-click="vm.changeFilter('sharelineShares')", ng-class="{'active': vm.orderFilter=='sharelineShares', 'up': vm.orderFilterDirection}") Share lines
    
    tr(ng-repeat="week in (vm.weeks | orderBy: vm.orderFilter:vm.orderFilterDirection)")
      td {{week.calendarWeek}}
      td(style="min-width:82px;") {{week.startDate}}
      td(style="{{vm.calcBgd('bannerTopClicks', $index)}}") {{week.bannerTopClicks}}
      td(style="{{vm.calcBgd('bannerBottomClicks', $index)}}") {{week.bannerBottomClicks}}
      td(style="{{vm.calcBgd('externalClicks', $index)}}") {{week.externalClicks}}
      td(style="{{vm.calcBgd('otherNavigationClicks', $index)}}") {{week.otherNavigationClicks}}
      td(style="{{vm.calcBgd('mediaWallClick', $index)}}") {{week.mediaWallClick}}
      td(style="{{vm.calcBgd('mediaWallScroll', $index)}}") {{week.mediaWallScroll}}
      //td(style="{{vm.calcBgd('comments', $index)}}") {{week.comments}}
      //td(style="{{vm.calcBgd('upvotes', $index)}}") {{week.upvotes}}
      //td(style="{{vm.calcBgd('bookmarks', $index)}}") {{week.bookmarks}}
      td(style="{{vm.calcBgd('twitterShares', $index)}}") {{week.twitterShares}}
      td(style="{{vm.calcBgd('facebookShares', $index)}}") {{week.facebookShares}}
      td(style="{{vm.calcBgd('linkedinShares', $index)}}") {{week.linkedinShares}}
      //(style="{{vm.calcBgd('sharelineShares', $index)}}") {{week.sharelineShares}}
