div(ng-controller="weeksController as vm")
  .margin-top.center
    h1.margin-top.bold 
      a.underline(href="/weeks") Weekly
      | &nbsp;&nbsp;
      a(href="/collections") By Collection
      | &nbsp;&nbsp;
      a(href="/countries") By Country
