td, th
  border 1px solid Gray
th
  cursor pointer
  &.active
    color Blue
    text-decoration underline
  &.active.up
    color DarkBlue

#upatelink
  position fixed
  top 0
  right 0
  color white
  cursor default
