.center(ng-controller="gaController as vm")
  
  h3.margin.center {{vm.message}}
  
  .inline-block.left
    ul
      li
        a(ng-click="vm.updateProcess('/ga/collections')") Collections: Basic
      li
        a(ng-click="vm.updateProcess('/ga/collections_shares')") Collections: Shares
      li
        a(ng-click="vm.updateProcess('/ga/collections_events')") Collections: Events
      li
        a(ng-click="vm.updateProcess('/ga/consolidate_collections')") Collections: Consolidate

    ul.margin-top-big
      li
        a(ng-click="vm.updateProcess('/ga/countries')") Countries: Basic
      li
        a(ng-click="vm.updateProcess('/ga/countries_shares')") Countries: Shares
      li
        a(ng-click="vm.updateProcess('/ga/countries_events')") Countries: Events
      li
        a(ng-click="vm.updateProcess('/ga/countries_popular')") Countries: Popular

    ul.margin-top-big
      li
        a(ng-click="vm.updateProcess('/ga/weeks')") Weeks: Basic
      li
        a(ng-click="vm.updateProcess('/ga/weeks_shares')") Weeks: Shares
      li
        a(ng-click="vm.updateProcess('/ga/weeks_events')") Weeks: Events
      li
        a(ng-click="vm.updateProcess('/ga/weeks_popular')") Weeks: Popular
      li
        a(ng-click="vm.updateProcess('/ga/weeks_login')") Weeks: Loggedin
