doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope ng-app="app")

  include ../common/_head
  
  body
    div
      .center
        .inline-block.margin-top-big.left
          ul
            li
              a(href="/ga/collections") Collections: Basic
            li
              a(href="/ga/collections_shares") Collections: Shares
            li
              a(href="/ga/collections_events") Collections: Events

          ul.margin-top-big
            li
              a(href="/ga/countries") Countries: Basic
            li
              a(href="/ga/countries_shares") Countries: Shares
            li
              a(href="/ga/countries_events") Countries: Events
            li
              a(href="/ga/countries_popular") Countries: Popular

          ul.margin-top-big
            li
              a(href="/ga/weeks") Weeks: Basic
            li
              a(href="/ga/weeks_shares") Weeks: Shares
            li
              a(href="/ga/weeks_events") Weeks: Events
            li
              a(href="/ga/weeks_popular") Weeks: Popular
