doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope ng-app="app")

  include ../common/_head
  
  body
    div
      .center
        .margin-top-big

          ul
            li
              a(href="/ga/collections") Collections Basic
            li
              a(href="/ga/collections_shares") Collections Shares
            li
              a(href="/ga/collections_events") Collections Events
